@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "arvo";
    src: url(../assets/fonts/Arvo-Bold.ttf);
}

@font-face {
    font-family: "Helvetica";
    src: url(../assets/fonts/_H_HelveticaNeueInterface_0.ttf);
}

.we-are h2::after {
    display: inline-block;
    background-color: orange;
    content: "";
    height: 2px;
    width: 100%;
}